.banners {
  position: relative;
  height: 342px;

  swiper {
    height: 342px;
  }

  .banner-image {
    width: 100%;
    max-width: 100%;
  }

  .indicator-dots {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;

    view {
      display: inline-block;
      margin: 0 10px;
      width: 42px;
      height: 8px;
      border-radius: 2px;
      background-color: #e2e4ea;

      &.active {
        background: linear-gradient(to bottom right, #0ac4ba, #2bda8e);
      }
    }
  }
}