.modules {
  padding: 0 6%;
  color: #515a6e;
  font-size: 34px;

  .module {
    text-align: center;
  }

  .img {
    width: 180px;
    height: 180px;
  }
}

.poem {
  position: fixed;
  left: 0;
  width: 100vw;
  bottom: 10px;
  font-size: 28px;
  color: #c5c8ce;
  text-align: center;
  font-style: italic;
}